# Ignore these directories
.vs/
Debug/
Log/
Players/
Res/
Tmp/

# Running runtime state
Running/**
!Running/
!Running/**/
!Running/**/.gitkeep
!Running/Control/Calendar.txt
!Running/Control/NextMobileNumber.txt

# Ignore these files
zNotes.txt
